APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:ZZbvE86S+unQPVQvjV04qBr19qeNuccf62aXzki4zK0=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=weather_app
DB_USERNAME=polt
DB_PASSWORD=passwordsss

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FORECAST_API_KEY=1db41b94cf0ba400b484bc88bb82e8ca

FORECAST_BASE_PATH=api.openweathermap.org/data/2.5

FORECAST_COUNTRY_CODE=jp

VENUE_CLIENT_ID=QQVXHXFARME1JFM0K0WC4ZWYA3SYRG2MSQLR1WYQJL0DKAQJ

VENUE_CLIENT_SECRET=MWNBOR1RQNRKGE2NHVTSWDRXPVLQDHF2H1J1BRWJUAKYRUDI

VENUE_VERSION=20182507

VENUE_BASE_PATH=https://api.foursquare.com/v2/venues

VENUE_COUNTRY_CODE=JP