//

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
body{
   
}

.navigation-design{
    color: white;
}

.navigation-design:hover{
    color: black;
    text-decoration: none;
    
}